.clear{
	clear: both;
}
.search-form .form-control{
	width: 250px;
}
.search-form input, .search-form select, .search-form button{
	float: right;
    margin-left: 7px;
    height: 30px;
}
.search-form .select{
    width: 171px;
}
#img-title {
    background: #ccc url(../images/project.jpg) no-repeat center center;
    background-size: cover;
    height: 190px;
    padding: 40px 60px;
    -webkit-box-shadow: 2px -4px 12px 1px rgba(140, 135, 140, 1);
    -moz-box-shadow: 2px -4px 12px 1px rgba(140, 135, 140, 1);
    box-shadow: 2px -4px 12px 1px rgba(140, 135, 140, 1);
    margin-bottom: 20px;
}
#img-title p {
    font-size: 45px;
    color: #FFFFFF;
    font-style: italic;
    opacity: 0.5;
}
.table-responsive table tr td{
	line-height: 50px;
}
.feedback-modal .modal{
    margin: 0;
}
.feedback-modal .modal-dialog{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.feedback-modal .modal-content{
    border-radius: 0px!important;
    height: 100%;
    border: none!important;
}
.feedback-modal .modal-footer{
    background-color: #ffffff;
    border: none!important;
    text-align: center;
    z-index: 999!important;
}
.feedback-modal .modal-footer button{
    border-radius: 22px;
    background-color: #20C824;
    color:#ffffff;
}
.feedback-modal{
    padding-right: 0!important;
}
/* Overlay */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    color: #5A6E95;
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 15%; /* 25% from the top */
    width: 100%; /* 100% width */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay .close-feedback{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px !important;
}
.overlay .feedback-list{
    margin: auto;
    width: 800px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}
.overlay .feedback-list .feedback-rate{

}
.overlay .feedback-list .feedback-date{
    float: right;
    font-size: 15px;
}
.overlay .feedback-list .feedback-rate img{
        width: 20px !important;
        height: 20px !important;
}
.overlay .feedback-list .feedback-content{
    text-align: justify;
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
li.paginate_button a{
    z-index: 0!important;
}
.no-sort::after { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }