

#content {
    margin-top: 0px;
    box-sizing: border-box;
}

#content .introduction,
#content .outclientsay {
    margin-top: 0px;
}


/* introduction*/

#content .introduction {
    background-color: yellow;
    height: 500px;

}

#content .introduction .jumbotron {
    text-align: center;
    height: 100%;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background: #63AFC7 url(../images/homepage.jpg) center no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}

.introduction .jumbotron h3 {
    text-align: center;
    max-width: 750px;
    font-size: 45px;
    margin: auto;
    color: #002E5D;
    font-weight:bold;
    line-height: 70px;

}
.introduction .jumbotron p{
    position: absolute;
    bottom: 0;
    color: #002E5D;
    font-size: 30px;
    width: 100%;
}

/* out clientsay*/

#content .outclientsay {
    background-color: red;
    margin-top: 0px;
    color: white;
    font-style: italic;
    font-size: 20px;
    padding-top: 20px;
    background-color: #FFFFFF;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}
.ourmodel{
    background: #ccc url(../images/ourmodel.jpg)  no-repeat center center;
    background-size: cover;
}
