*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #456;
}
.clear{
    clear: both;
}
.container{
    width: 500px;
<<<<<<< HEAD
    height: 385px;
=======
    height: 100%;
>>>>>>> 8ea77caf06003789a383f5a9143f487eec1f5b01
    margin: auto;
    border-radius: 15px;
    background: #fff;
    margin-top: 10%;
    padding-top: 50px;
}
.login{
    margin-left: 60px;
    height: 300px;
}
.login .login-top, .login .login-top img{
    width: 350px;
    height: 100px;
}
.login-bottom .login-input input{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    margin-left: 75px;
    text-align: center;
}

.login-bottom .sub-button input{
    width: 80px;
<<<<<<< HEAD
    margin-left: 136px;
    margin-top: 15px;
    background: #548f11;
}
#forgot-pass{
    display: block; 
    margin-left: 128px; 
    font-size: 13px; 
    margin-top: 15px;
=======
    margin-left: 135px;
    margin-top: 15px;
    background: #548f11;
>>>>>>> 8ea77caf06003789a383f5a9143f487eec1f5b01
}