body{
}
#info{
	margin-top: 10px;
}
.box{
	padding: 15px;
	height: 700px;
	background-color: #B8E5FA;
}
#logo{
	height: 200px;
	border:1px solid #B6B6B6;
	text-align: center;
	padding-top: 10px;
}
#logo img{
	width: 98%;
	height: 98%;
}
.fancy {
    line-height: 0.5;
    text-align: center;
    width: auto;
}

.fancy span {
    display: inline-block;
    position: relative;
}

/*.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    top: 50px;
    width: 450px;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:after {
    left: 100%;
    margin-left: 15px;
}*/
.fancy #contact:before,
.fancy #contact:after{
	content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    top: 0;
    width: 200px;
}
.fancy #contact:before {
    right: 100%;
    margin-right: 15px;
}

.fancy #contact:after {
    left: 100%;
    margin-left: 15px;
}
hr {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr:after {
	content: '\2605';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}
/* Team */
.box-info {
    height: 150px;
    background-color: #F7F7F7;
    border: 1px solid #ccc;
    color: #5A6E95;
    margin-bottom: 20px;
}

.box-info .main-info {
    height: 80%;
    border: 1px solid #ccc;
}

.box-info .main-info img {
    width: 20%!important;
    height: 100%!important;
    border: 1px solid #ccc!important;
    float: left!important;
}

.main-info .info {
    width: 80%;
    height: 100%;
    float: right;
}

.main-info .info h4,
.main-info .info h5,
.main-info .info p {
    margin-left: 20px;
}

.main-info .info h5 {
    margin-top: -22px;
}

.main-info .info p {
    margin-top: -4px;
    font-size: 12px;
}

.box-info .cost-info {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 12px;
    line-height: 20px;
}