.detailed_skill img {
    width: 1.5em;
    height: 1.5em;
}


/*list group item*/

.list-group-item {
    clear: both;
    height: 40px;
}

* {
    margin: 0;
    padding: 0;
}


/* feedback */

.feedback-title {
    margin-top: 1px;
}

.glyphicon-chevron-down {
    margin-right: 4px;
    font-size: 15px;
}

.feedbacktable .feedback-star {
    margin-top: -20px;
    margin-right: -10px;
}

.client_name {
    text-transform: italic;
}

.collapse ul li p {
    margin: 0px;
}


/* status*/

.status {
    margin-left: 38px;
}

.img-status .img img {
    width: 150px;
    height: 150px;
    border: 1px #ccc solid;
    border-radius: 10px;
    padding: 10px;
    clear: both;
    margin-top: 30px;
}

.img-status {
    margin-top: 10px;
}

.img-status .status {
    font-size: 16px;
}

.img-status .status span {
    margin-top: 5px;
}


/*basic info*/

.basic-info {
    margin-top: -20px;
}

li.skill {
    height: auto;
    overflow: auto;
    max-height: 100px;
}

.skill .skill-name {
    float: left;
    clear: both;
}

.history_feedback {
    overflow: auto;
    max-height: 550px;
}

.history_feedback img {
    width: 10px;
    height: 10px;
}
.list-group li{
    height: auto;
}
#img-title {
    background: #ccc url(../images/personal.jpg) no-repeat center center;
    background-size: cover;
    height: 190px;
    padding: 40px 60px;
    -webkit-box-shadow: 2px -4px 12px 1px rgba(140, 135, 140, 1);
    -moz-box-shadow: 2px -4px 12px 1px rgba(140, 135, 140, 1);
    box-shadow: 2px -4px 12px 1px rgba(140, 135, 140, 1);
    margin-bottom: 10px;
}

#img-title p {
    font-size: 45px;
    color: black;
    font-style: italic;
    opacity: 0.5;
}