@font-face {
    font-family: 'Avenir LT Std 85 Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy'), url('../../font/AvenirLTStd-Light.woff') format('woff');
}

body {
    font-family: 'Avenir LT Std 85 Heavy';
}
#header{
  height: 80px;
  background-color: blue;
}
#header .title{
  height:100%;
  width:200px;
  background-color: red;
}
#content{
  margin-top: 20px;
}
#footer{
  margin-top: 0px;
  clear: both;
  height: 80px;
  background-color: blue;
}