@font-face {
    font-family: 'Avenir LT Std 85 Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy'), url('../../font/AvenirLTStd-Light.woff') format('woff');
}

body {
    font-family: 'Avenir LT Std 85 Heavy';
}

html,
body {
    height: 100%;
    margin: 0px;
}

.container-fluild {
    height: 100%;
    background-color: #FAFAFA;
}

.row {
    margin: 0;
}

#notify {
    margin-top: 15px;
    font-size: 18px;
}

#notify a {
    margin-left: 10px;
    color: #858282;
    position: relative;
    display: inline-block;
    font-size:15px!important;
    font-weight: bold;
}

div.vertical-line {
    margin-left: 4px;
    width: 1px;
    background-color: #708C98;
    height: 15px;
    display: inline-block;
}

#nav {
    background-color: #EFEFF4;
    color: #858282;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1001;
    border: 1px solid #ccc;
}

#title img {
    margin-top: 0px;
    width: 260px;
}
#content {
    margin-top: 10px;
}
#content #menu{
    width: 100%;
}
#content #menu li {
    background-color: #FFFFFF;
    height: 50px;
    border: 1px solid #ccc;
    margin: 0;
}

#content #menu li a:hover {
    background-color: #ccc;
}

#content #menu li a {
    height: 100%;
    line-height: 30px;
    color: #858282;
    font-size: 15px;
    font-weight: bolder;
}

.actived a {
    background-color: #ccc;
}

#footer {
    background-color: #05374D;
    height: 50px;
}

.btn-collapse {
    display: none!important;
}
.arrow{
  width:150px;
  height:50px;
  background:transparent;
  margin-left: 50px!important;
}

.arrow:after{
  top:10px;
  left:50px;
  position:absolute;
  content:"";
  width:145px;
  height:20px;
  border-left:10px solid #3584FB;
  border-right:5px solid #3584FB;
  border-top:10px solid #3584FB;
  transform:skew(45deg);
  background: #3584FB;
}

.arrow:before{
  top:30px;
  left:50px;
  position:absolute;
  content:"";
  width:145px;
  height:20px;
  border-left:10px solid #3584FB;
  border-right:5px solid #3584FB;
  border-bottom:10px solid #3584FB;
  transform:skew(-45deg);
  background-color: #3584FB;
}
#main-content {
    margin-top: 50px;
    margin-left: 250px;
    padding: 10px;
}

#left-bar {
    background-color: #EFEFF4;
    height: 200%;
    width: 250px;
    position: fixed;
    border: 1px solid #ccc;
    top:50px;
    margin: 0;
    padding: 0;
}
.glyphicon{
    color: #3584FB!important;
}
i.fa{
    color: #3584FB;
    font-size: 20px!important;
    font-size: 5px;
    text-align: left!important;
}
i.fa{

}
#notify a:hover {
    text-decoration: none;
}
ul#menu li a span{
    width: 30px!important;
    display:inline-block;
}
.panel{
  border-radius: 0!important;
  border-color: #41BCE0;
}
.panel-heading{
    font-size: 18px!important;
    background-color: #41BCE0!important;

}
@media(max-width: 480px) {
    body {
        position: relative;
    }
    #left-bar {
        width: auto;
    }
    #left-bar ul {
        display: none;
        position: absolute!important;
        left: 0px;
        top: -8px;
        z-index: 1001!important;
        width: 100%!important;
    }
    #left-bar ul li {
        margin: 0px!important;
        height: 40px!important;
    }
    #left-bar ul li a {
        height: 100%!important;
        line-height: 20px!important;
    }
    .btn-collapse {
        display: inline!important;
        float: right!important;
        text-align: center!important;
    }
    #notify {
        float: left!important;
        width: 100%!important;
    }
    #notify a span {
        display: none;
    }
    #title {
        float: none!important;
        text-align: center!important;
    }
}

@media (min-width: 1200px) {}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {}

