.form-control {
    font-size: 12px;
    height: 30px;
}

td {
    line-height: 50px;
}

#add {
    position: fixed;
    top: 135px;
    right: 13px;
    z-index: 4001;
}
#add img{

    width: 40px;
    height: 40px;
}
.pagination{
	float: right;
}
select#type-list{
    width: 150px;
}